.header-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.255)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1666014186/Zoe%20and%20Cameron/DSC02457_lh58zy.jpg);
  background-position: center;
  background-size: cover;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.header-content {
  text-align: center;
  padding: 50px 0;
}

h2 {
  color: white;
  /* font-size: 1rem !important ; */
}

p {
  color: white;
  display: flex;
  justify-content: center;
}

.button {
  margin: auto;
  display: flex;
  padding: 10px;
}
